<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 通过注解分别创建 Dao、Service、Controller
     通过bean上添加某些注解，可以快速的将bean加入到ioc容器中
     spring加入bean的四个注解
        @Controller 控制器层使用
        @Service   业务逻辑层使用
        @Repository 数据库层使用
        @Component  不属于以上层的使用
     -->
    <!--  context:component-scan:自动组件扫描
          base-package 指定扫描的基础包，把基础包及下面所有的包的所有加了注解的类，
          自动的扫描进ioc容器
    -->

<!--
    <context:component-scan base-package="com.book">
        &lt;!&ndash; 扫描时候可以排除一些不要的组件
             type="annotation" 指定的排除的规则；按照注解进行排除
             expression="" 注解全类名
             type="assignable"  指定排除某个具体的类，按照类排除
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
-->

    <!--需要禁用掉默认的规则
      use-default-filters="false"
    -->
<!--
    <context:component-scan base-package="com.book" use-default-filters="false">
        &lt;!&ndash; 指定扫描想要的组件
             include-filter
             type="annotation" 指定的扫描的规则；按照注解进行注入
             expression="" 注解全类名
         &ndash;&gt;
        <context:include-filter type="annotation"  expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
-->
    <context:component-scan base-package="com.book" />
</beans>